<!DOCTYPE html>
<html>
<head>
    <!-- <title>Home Page</title> -->
    <title><%=title%></title>
    <style type="text/css" media="screen">
        body {
            background-color: green;
            text-decoration-color: white;
            font-size: 7em;
            margin:50px;
            text-align: center;
        }
    </style>
</head>
 
<body>
    <center>This is our home page.</center>
    <p><a href =/register>Register</a></p>
    <p><a href =/login>Login</a></p>
    <p><a href =/>Home</a></p>

    
    <% if(data.loggedIn) { %>
    <ul>
        <li><%= data.user1.name %></li>
        <li><%= data.user1.nickname%></li>
        <li><%= data.user1.age %></li>
        <li><%= data.user1.phone%></li>
    </ul>

    <ul>
        <li><%= data.user2.name %></li>
        <li><%= data.user2.nickname%></li>
        <li><%= data.user2.age %></li>
        <li><%= data.user2.phone%></li>
    </ul>
    <% }; %>
</body>
</html>

<!-- Login  -->

<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
 
    <style type="text/css" media="screen">
        body {
            background-color: red;
            text-decoration-color: white;
            font-size: 7em;
        }
    </style>
</head>
 
<body>
    <center>This is our Login page.</center>
    <p><a href =/register>Register</a></p>
    <p><a href =/login>Login</a></p>
    <p><a href =/>Home</a></p>

    <form action="/login" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" value=""><br>
        <label for="name">Email</label>
        <input type="text" name="email"  value=""><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>

<!-- Register  -->

<!DOCTYPE html>
<html>
<head>
    <!-- <title>Home Page</title> -->
    <title><%=title%></title>
    <style type="text/css" media="screen">
        body {
            background-color: yellow;
            text-decoration-color: white;
            font-size: 7em;
        }
    </style>
</head>
 
<body>
    <center>This is our Register page.</center>
    <p><a href =/register>Register</a></p>
    <p><a href =/login>Login</a></p>
    <p><a href =/>Home</a></p>
</body>
</html>