<%-include('./layout/header')%>
<br><br>
<center>This is our Output page.</center>

    <ul>
        <li><%= data.name %></li>
        <li><%= data.email %></li>
        <li><%= data.comment %></li>
    </ul>
<br><br>
<%-include('./layout/footer')%>