<%- include('layout/header') -%>

<br><br>
<div class="container">
  <h3>Users:</h3>
<div class="users">
 <p>This is the List of Users.</p>
    <% data.forEach(user=>{ %> 
      <ul>
        <li>Name : <%= user.name %></li>
        <li>Nick Name : <%= user.nickname %></li>
        <li>Age : <%= user.age %></li>
        <li>Phone : <%= user.phone %></li>
      </ul>      
        
    <% }) %> 
</div>
</div>
<br><br>

<%- include('layout/footer') -%>